/* MAIN STYLE FILE */

@import "./bootstrap/bootstrap-custom";



/* ELEMENT UI OVERRIDE */
.el-tabs__item:not(.is-active) {
    color: $text-color !important;
}

.form-error {
    @extend .alert;
    @extend .alert-danger;
}

.table {
    border: 1px solid $table-border-color;
}

// Scores
.rank-1 {
    background-color: $brand-success !important;
    color: #FFF;
    font-weight: bold;

    .glyphicon {
        color: #f8d106;
    }
}


// NEWS
.news, .news .row {
    height: 120px;
}

.news .row {
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    background-color: #2e3338;
}

.news {
    margin-bottom: 20px;
}

.news-message {
    height: 100%;
    padding: 15px;
}

.news-icon {
    height: 100%;
    font-size: 25px;
    border-left: 1px solid rgba(0, 0, 0, 0.6);;
}

.news-green {
    background-color: #2ecc71;
}

.news-red {
    background-color: #e74c3c;
}

.news-orange {
    background-color: #f39c12;
}

.news-blue {
    background-color: #3498db;
}

.news-username {
    color: #3498db;
    font-weight: bold;
}

/* UTILS */

.center-xy{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}